{
    "printWidth": 180,
    "semi": true,
    "tabWidth": 4,
    "singleQuote": false,
    "trailingComma": "none",
    "quoteProps": "as-needed",
    "endOfLine": "lf",
    "arrowParens": "always"
}